div.toolbar
    a.close(href='#')
        span x
div.teasing
div.wrapper
    ul.questions
        each question in questions
            li= question
div.results
button#game-validate(type='button') Validate
button#game-close(type='button') Close