div.toolbar
    a.close(href='#')
        span x
div.wrapper
form
    input#not-again.user-guide--input(type='checkbox',name='not-again',value='not-again')
    label.user-guide--label(for='not-again')
    p#s-not-again.user-guide--label-text Do not display again
button#game-close(type='button') Close